{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Akun User</li>
              </ol>
          </nav>
          <h2 class="h4">Tabel User</h2>
          <p class="mb-0">Menampilkan dan manajemen user</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
              New Plan
          </a>
          <div class="btn-group ms-2 ms-lg-3">
              <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
              <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
          </div>
      </div>
  </div>
  
  <table id="userTable" class="table table-bordered">
    <thead>
        <tr>
            <th>NAMA LENGKAP</th>
            <th>NAMA DEPAN</th>
            <th>NAMA BELAKANG</th>
            <th>EMAIL</th>
            <th>STATUS</th>
            <th>GRUP</th>
            <th>AKSI</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.is_staff }}</td>
                <td>
                    {% for group in user.groups.all %}
                        {{ group.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="#" class="editBtn" data-toggle="modal" data-target="#editModal" data-id="{{ user.id }}">Edit</a>
                    <a href="{% url 'delete_user' user.id %}" class="deleteBtn" data-id="{{ user.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Include Edit Modal -->
{% include 'includes/modal-user.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#userTable').DataTable();

        // Set modal data when the edit button is clicked
        $('.editBtn').click(function () {
            var userId = $(this).data('id');
            console.log(" ID ",userId)
            $.ajax({
                url: '{% url "get_user_data" user_id=0%}'.replace('0', userId),  // Replace with the actual URL to get user data
                method: 'GET',
                data: { 'user_id': userId },
                success: function (data) {
                    if ('error' in data) {
                        console.error(data.error);
                        return;
                    }

                    // Fill in the form fields with existing user data
                    $('#editUserForm #editUserId').val(data.id);
                    $('#editUserForm #editUsername').val(data.username);
                    $('#editUserForm #editFirstName').val(data.first_name);
                    $('#editUserForm #editLastName').val(data.last_name);
                    $('#editUserForm #editEmail').val(data.email);
                    $('#editUserForm #editIsStaff').prop('checked', data.is_staff);

                },
                error: function (xhr, status, error) {
                    console.error('Failed to get user data:', error);
                }
            });
        });

        // Handle form submission
        $('#editUserForm').submit(function (e) {
            e.preventDefault();

            // Add your logic to handle form submission (e.g., AJAX request to update user)
            // After successful update, close the modal
            $('#editModal').modal('hide');
        });

        $('#editModal').on('hidden.bs.modal', function () {
            // Membersihkan elemen-elemen di dalam modal
            $('#editUserForm').trigger('reset');
        });

    });
</script>
{% endblock javascripts %}
